@use 'variables';
.podcast{
    background-image: url(../img/bg/bg-cinza.jpg) ;
    width: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(214, 214, 214, 0.628);
    }

    .row{
        position: relative;
    }

    iframe{
        width: 100%;
        height: 320px;
        border-radius: 5px;
        @media (max-width:1198px) {
            height:250px;
        }
        @media (max-width:991px) {
            height: 190px;
        }
        @media (max-width:767px) {
            height: 270px;
        }
        @media (max-width:498px) {
            height: 220px;
        }
        @media (max-width:397px) {
            height: 175px;
        }
    } 
}