$colorPrimary: #0d3a66;
$colorBlue:#0a2c4e;
$colorBlueLight:#08539d;
$colorYellow: #ffbf00;
$textGray: #bebebe;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorWhiteLight: #f1f1f1;

$fontPrimary:'Montserrat', sans-serif; 
$fontSegundary: 'Cormorant Garamond', serif;